//- results.jade
    -Contains the scanners results
    -Created by : Erenox the : 06/07/2016
    -Last update : 08/07/2016
section#results
        - var count = 0
        each item in target.result.scanners
            .result
                //- result header
                .scan_header(id='#{item.name}_header')
                    img(src='/images/#{item.name}.png', alt='icon')
                    h2 #{item.name}
                    label
                        script get_description(!{JSON.stringify(item.name)});

                    if item.status === 0
                        img(name='progress', src='/images/animated/*progress.gif', alt='progress')
                        button(style="background: transparent url(/images/*display.png) no-repeat; cursor: progress", onclick="visibility(this,'#{item.name}_body');", disabled=true)

                    else
                        img(name='progress', src='/images/animated/_progress.gif', alt='progress')
                        button(style="background: transparent url(/images/animated/_display.gif) no-repeat; cursor: pointer",  onclick="visibility(this,'#{item.name}_body');", disabled=false)

                //- result body
                .scan_body(id='#{item.name}_body')
                    if item.status === 1
                        object(data='../../audits/#{id}/#{item.name}.html', type='text/html')
                        - count++
                    else
                        object(data='' type='text/html')

        script set_audit_title(!{JSON.stringify(count)}, !{JSON.stringify(target.result.scanners.length)});

        if(count != target.result.scanners.length)
            script audit_standby(!{JSON.stringify(id)});
