//- target.jade
    -Contains the target details
    -Created by : Erenox the : 06/07/2016
    -Last update : 06/07/2016

section#target(onmouseover="imghover('target_icon');", onmouseout="imgunhover('target_icon');")

    img(id='target_icon' src='/images/*target.png', alt='icon')
    h1 Target
    img(src='/images/flags32/#{audit.country_code}.png', onerror="this.src='/images/flags32/default.png';" alt='flag')
    br

    if (audit['target'].host)
        label(class='field') IP :
        a(class='value' href='http://' + audit['target'].host, target='_blank') #{audit['target'].host}

    if (audit['target'].domain)
        label(class='field') Domain :
        a(class='value' href='http://' + audit['target'].domain, target='_blank')  #{audit['target'].domain}

    label(class='field') Location :

    if (audit['target'].location !== 'unknown')
        a(class='value' href='http://google.com/maps/place/' + audit['target'].location, target='_blank') #{audit['target'].location}
    else
        label(class='value') unknown

    label(class='field') Begin on :
    label(class='value')
        script document.write(date_formatting(!{JSON.stringify(audit.date)}, false));

    label(class='field') User uid :
    label(class='value') #{audit.user_uid}